<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CloudTraceServicePath" value="trace/WorkerRole_IN_0"/>
    <add key="CloudTraceServiceNamespace" value="YOURSERVICENAMESPACE"/>
    <add key="CloudTraceIssuerName" value="YOURISSUERNAME"/>
    <add key="CloudTraceIssuerSecret" value="YOURISSUERSECRET"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
